@media screen and (min-width: 1280px) {
  .voicebg {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)),
      url('../../public/assets//images/voice-and-sound-wave.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 412px) and (max-width: 766px) {
  .iframeMargin {
    margin-top: 0px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .iframeMargin {
    margin: 50px auto
  }
}
